<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List Configs</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Configs List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range .Configs}}
            <tr>
                <td>{{.Name}}</td>
                <td>
                    <a href="/config/edit/{{.ID}}">Edit</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <a href="/dashboard">Back to Dashboard</a>
</body>

</html>